* {
    margin: 0;
    padding: 0;  
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


h1, p {
    font-family: 'Josefin Sans', 'sans-serif';
}

.page {
    min-height: 100vh;
    display: flex;
}

/* dividing the site between two colums */
.leftside {
    width: 60%;
    background: url(./images/bg-pattern-desktop.svg);
    background-color: linear-gradient(135deg, white, #fff5f5), linear-gradient(135deg, #f8bfbf 0%, #ee8c8c);
    background-size: cover;
}

.rightside {
    width: 40%;
}

.rightside img {
    width: 100%;
    height: 100%;
}


/* Images */

#desktop-img {
    display: block;
}

#mobile-img {
    display: none;
}


/* Top content */

.top-content {
    position: relative;
    width: 100%;
}

.top-content img {
    position: absolute;
    margin-top: 50px;
    left: 10%;
}

/*container */

.container {
    max-width: 70%;
    margin: auto;
}

/* Bottom content */
.bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.bottom-content .bottom-title {
    width: 100%;
}

.bottom-content h1:first-child {
    color: #dbadad;
    font-weight: 200;
    font-size: 4rem;
}

.bottom-content h1 {
    color: #403839;
    font-size: 4rem;
    margin-top: 10px;
    letter-spacing: 1rem;
}

.bottom-content p {
    color: #dbadad;
    margin-top: 20px;
    text-align: justify;
}

.central-text {
    width: 70%;
}


/* searchbox */

form {
    display: flex;
    margin-top: 10%;
}

form input:focus:invalid {
    background: url("./images/icon-error.svg") no-repeat 85% 50%;
}

#subscribe-box {
    height: 6vh;
    width: 70%;
    border-radius: 1.6vw;
    border: 2px solid hsl(0, 36%, 70%);
    padding: 0.3vw 1.3vw;
    
}

input::placeholder {
    font-family: 'Josefin Sans', sans-serif;
}

.btn {
    cursor: pointer;
    border: none;
    width: 5.2vw;
    height: 6vh;
    border-radius: 2.8vw;
    background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
    margin-left: -10%;
}

.btn:hover {
    transform: scale(1.05);
    background-image: linear-gradient(135deg, white, #f09898);
}

@media only screen and (max-device-width: 600px) {
    

  .page {
      display: flex;
      flex-direction: column;
  }

  .leftside {
      order: 2;
      width: 100%;
  }

  .rightside {
      order: 1;
      margin-top: 30%;
      width: 100%;
  }


  .bottom-title {
      text-align: center;
      padding: 0;
      margin: 0;
  }

  .container {
      max-width: 100%;
  }

  .bottom-content p {
      text-align: center;
  }
  
  .central-text {
      width: 100%;
  }

  #subscribe-box {
      width: 100%;
  }

  .btn {
      width: 12vw;
      margin-left: -10%;
  }
 }